h1 {
	font-size: 6em;
	text-align: center;
  	font-family: 'Bungee Shade', cursive;
}

h2 {
	font-size: 3em;
	text-align: center;
  	font-family: 'Bungee Shade', cursive;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App-content {
  flex: 1;
  margin-bottom: 5em;
}